body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #dee1e4;
  color: #080000;
  border-bottom: 4px solid #00ff44;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 80px;
  margin-right: 20px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text h6 {
  margin: 0;
  line-height: 1.2;
}

nav {
  margin-left: auto;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #120202;
  padding: 14px 20px;
  display: block;
}

.navbar a:hover {
  background-color: #f1fcf4;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

.news-box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.news-box img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.news-box p {
  margin: 0 0 10px;
}

.news-box a {
  color: #010912;
  text-decoration: none;
}

.news-box a:hover {
  text-decoration: underline;
}
/* Footer styles */
footer {
  background-color: #f0f3f2;
  color: #030b0d;
  padding: 20px 0;
  text-align: center;
}

footer .footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

footer .footer-section {
  flex: 1;
  min-width: 100px;
  margin: 10px;
}

footer h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: hsl(195, 100%, 2%);
}

footer p, footer a {
  font-size: 14px;
  line-height: 1.5;
  color: #0b1318;
}

footer a {
  text-decoration: none;
  color: #101315;
}

footer a:hover {
  color: #081012;
}

footer .social-icons a {
  margin: 0 10px;
  color: #040607;
  font-size: 18px;
}

footer .social-icons a:hover {
  color: #01090b;
}

footer .footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #01070a;
}
