body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

header {
  background-color: #003366;
  color: white;
  border-bottom: 4px solid #FFD700; /* Warna garis kuning */
}

.header-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 80px;
  margin-right: 20px;
}

h1 {
  font-size: 2px; /* Ubah ukuran tulisan di sini */
  margin: 12;
  flex-grow: 5; /* Membuat teks h1 mengisi ruang yang tersisa */
}

nav {
  background-color: #003366;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  display: inline;
  margin-left: 20px; /* Memberikan jarak antar item navbar */
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 14px 15px;
  display: block;
}

.navbar a:hover {
  background-color: #0055a5;
}
